body{
    background: #000000;
    background: linear-gradient(90deg, rgb(2, 5, 3) 0%, rgb(0, 0, 0) 20%, rgb(0, 0, 0) 80%, rgba(2, 5, 3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020503",endColorstr="#020503",GradientType=1);
    color: white;
    padding: 3rem;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

.logo {
    height: 80px;
    width: auto;
    display: block;
    margin: 0;
}

nav{
    display: flex;
    align-items: center;
    gap:3rem;
    margin-left: -5%;
}

nav a{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
    z-index: 999;
}

nav a:hover{
    color: #316d3e;
}

.contact-btn {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    background-color: #1A3B21;
    border: 1px solid #29402E;
    border-radius: 50px;
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.3s;
}

  .contact-btn:hover {
    background-color: #535954;
}

h1, h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
}

/* MAIN SECTION */

main {
    position: relative;
    overflow: hidden;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    min-height: 85vh;
}

.title-section {
    margin-top: 3rem;
}

main h1 {
    text-align: center;
    font-size: 9rem;
    font-weight: 900;
    letter-spacing: 5px;
    line-height: 1;
    background-image: linear-gradient(rgb(133, 133, 133), rgb(255, 255, 255));
    color: transparent;
    background-clip: text;
}

main h2 {
    text-align: center;
    font-size: 7.5rem;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 1;
    background-image: linear-gradient(rgb(133, 133, 133), rgb(255, 255, 255));
    color: transparent;
    background-clip: text;
    display: none;
}

.location {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.location p {
    background-image: linear-gradient(to right, #367BCA, #FFFFFF, #DFBC1E); /* Boston colors */
    color: transparent;
    background-clip: text;
    font-size: 1.5rem;
}

.tag-box{
    position: relative;
    width: 30rem;
    height: 2.5rem;
    border-radius: 50px;
    background: linear-gradient(to right, #b0e2af, #648f63, #173b17, #8eec8e, #367036, #89bb88);
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

@keyframes animationGradient{
    to{
        background-position: 200%;
    }
}

.tag-box .tag{
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    cursor: pointer;
}

.tag-box .tag:hover{
    color: #196819;
}

.bio-section {
    margin-top: auto;
    margin-bottom: 2rem;
}

.bio {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 300;
    letter-spacing: 1px;
    max-width: 28rem;
}

.scroll-down {
    height: 5rem;
    width: 2rem;
    position: absolute;
    right: 2%;
    bottom: 5%;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.scroll-down::before,
.scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid lightgray;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 3s ease-in-out infinite;
}

.scroll-down::before {
    top: 30%;
    animation-delay: 0.8s;
}

@keyframes scroll-down {
    0% {
        opacity: 0;
    }
    30%, 60% {
        opacity: 1;
    }
    100% {
        opacity: 0%;
        top: 90%;
    }
}

/* 3D Planet */
.planet-3d {
    position: absolute;
    top: -20%;
    right: -14%;
    width: 130%;
    height: 130%;
}

/* ABOUT SECTION */
.about-section {
    height: 95vh;
    width: 100%;
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-title {
    margin-bottom: 5%;
    font-size: 5rem;
    background-image: linear-gradient(rgb(133,133,133), rgb(255,255,255));
    color: transparent;
    background-clip: text;
}

.bento-grid {
    position: relative;
    display: grid;
    height: 90vh;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "intro intro tech"
        "time passion tech";
    gap: 1.5rem;
}

.card {
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.14), rgba(o, 0, 0, 0.07));
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    padding: 2rem;
    transition: transform 0.3s ease,
                border-color 0.3s ease,
                box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

/* CARD SPECIFIC AREAS */
    .intro {grid-area: intro; min-height: 300px;}
    .tech {grid-area: tech; min-height: 450px;}
    .work {grid-area: time; min-height: 220px;}
    .passion {grid-area: passion; min-height: 220px;}

/* HOVER EFFECT */
.card:hover {
    border-color: transparent;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}

/* SPOTLIGHT EFFECT */
.card::before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background: radial-gradient(circle at var(--x) var(--y),
                rgba(124, 233, 230, 0.1),
                transparent 40%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.card:hover::before {
    opacity: 1;
}

.card-title {
    font-size: 2rem;
    font-weight: 300;
    margin-top: 4rem;
    color: #75ff87;
}

.card-text {
    color: #dadada;
    line-height: 1.6;
    margin-top: 2rem;
    max-width: 30rem;
}

.bento-grid .background-img {
    position: absolute;
    inset: -1% -1% -1% -1%;
    width: 110%;
    height: 110%;
    object-fit: cover;
    z-index: -1;
}

.model-box {
    position: absolute;
    right: 5%;
    top: -25%;
    width: 30rem;
    height: 30rem;
}

.info-3d {
    width: 150%;
    height: 150%;
    mix-blend-mode: lighten;
}

.skills-list {
    padding-left: 30px;
    font-size: 0.95rem;
  }

.bento-grid .skills-group {
    position: absolute;
    bottom: 5%;
    left: 15%;
    width: 70%;
}

.bento-grid .btn {
    position: absolute;
    bottom: 10%;
    padding: 0.75rem 1.5rem;
    background-color: rgba(160, 245, 198, 0.1);
    color: #87d69b;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease;
}

.bento-grid .btn:hover {
    background-color:  rgb(38, 247, 108);
    color: #000000;
}

footer {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    text-align: center;
    font-size: 12px;
    color: #555;
    padding: 20px;
    margin-top: 20px;
    /* border-top: 1px solid #ccc;
    background-color: #f0f0f0; */
    width: 100%;
  }

footer a {
    color: #6d6d6d;
    text-decoration: underline;
}
  
footer a:hover {
    color: #8eec8e;
}

@media (max-width: 1400px) {
    main h1 {
        font-size: 6.3rem;
        letter-spacing: 0;
    }

    .bento-grid {
        position: relative;
        display: grid;
        height: 80vh;
    }

    .card-title {
        font-size: 1.2rem;
        margin-top: 0;
    }

    .card-text {
        line-height: 1.3;
        font-size: 0.9rem;
    }

    .model-box {
        right: 20%;
        top: 10%;
    }

    .skills-list {
        line-height: 1.3;
        font-size: 0.8rem;
    }

    .intro {grid-area: intro; min-height: 700px;}
    .time {grid-area: time; min-height: 300px;}

    
}

@media (max-width: 768px) {
    main h1 {
        display: none
    }
    main h2 {
        display: block;
        margin-top: -3rem;
    }

    .bio-section {
        margin-bottom: 1rem;
    }

    .bio {
        font-size: 0.8rem;
        max-width: 15rem;
    }

    .bento-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "intro"
            "tech"
            "time"
            "passion";
    }

    .about-title {
        margin-bottom: 5%;
        font-size: 3rem;
    }

    .model-box {
        right: -4%;
        top: 27%;
        scale: 0.7;
    }

    
}